pipeline/CHILD_PIPELINE_INCREMENTAL.json
{
	"name": "CHILD_PIPELINE_INCREMENTAL",
	"properties": {
		"activities": [
			{
				"name": "LKUP_MAX_VALUE",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT\nMAX(@{pipeline().parameters.WatermarkColumn}) AS MaxValue\nFROM @{pipeline().parameters.TableShema}.@{pipeline().parameters.TableName}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_LKUP_MAX_VALUE",
						"type": "DatasetReference",
						"parameters": {
							"TableName": {
								"value": "@pipeline().parameters.TableName",
								"type": "Expression"
							},
							"TableShema": {
								"value": "@pipeline().parameters.TableShema",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "LKUP_MAX_VALUE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(equals(pipeline().parameters.LastLoadValue, null),\ngreater(int(activity('LKUP_MAX_VALUE').output.firstRow.MaxValue), int(pipeline().parameters.LastLoadValue)))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "COPY SQL FULL INCTLOAD TABLES",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat(\n'SELECT * FROM ',\npipeline().parameters.TableShema, '.',\npipeline().parameters.TableName,\nif(\nequals(pipeline().parameters.LastLoadValue,\nnull),\n'', \nconcat(\n' WHERE ',\npipeline().parameters.WatermarkColumn,\n' > ''', pipeline().parameters.LastLoadValue, ''''\n)\n)\n)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_LKUP_MAX_VALUE",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@pipeline().parameters.TableName",
											"type": "Expression"
										},
										"TableShema": {
											"value": "@pipeline().parameters.TableShema",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_SQLTABLE_PARQUET",
									"type": "DatasetReference",
									"parameters": {
										"Table_Name": {
											"value": "@pipeline().parameters.TableName",
											"type": "Expression"
										},
										"Table_Schema": {
											"value": "@pipeline().parameters.TableShema",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "CHILD PIPELINE STOREDPROCEDURE",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "COPY SQL FULL INCTLOAD TABLES",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "CHILD_PIPELINE_STOREDPROCEDURE",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"TableSchema": {
										"value": "@pipeline().parameters.TableShema",
										"type": "Expression"
									},
									"TableName": {
										"value": "@pipeline().parameters.TableName",
										"type": "Expression"
									},
									"WatermarkColumn": {
										"value": "@pipeline().parameters.WatermarkColumn",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"TableShema": {
				"type": "string"
			},
			"TableName": {
				"type": "string"
			},
			"WatermarkColumn": {
				"type": "string"
			},
			"LastLoadValue": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-03-29T07:36:47Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}